button{
	
}

h1{
	background-color: black;
	font-weight: bold;
	text-align: center;
}

h2{
	text-align: center;
	color: green;
}

h3{
	color: red;
	text-align: center;
}

h4{
	text-align: center;

}



